# Virtual environment
venv/
.venv/
env/

# Node modules
frontend/node_modules/

# Temporary data & caches
server/__pycache__/
server/temp/
server/browser_data/
server/logs/*.log
server/screenshots/*.png
.DS_Store
*.pyc
